<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/jpg" href="{% static 'img/logo.jpg' %}">   
    <title>Checked-in Users</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/serenity/checked_in/users/">Client Log</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/serenity/check_in/guest/">Home</a>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item dropdown">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Staff Menu
                                </button>
                                
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    {%if staff.is_admin == 1%}
                                    <li><a class="dropdown-item" href="{% url 'all-staff' %}">Staff</a></li>
                                    <li><a class="dropdown-item" href="/serenity/new/staff/">Register Staff</a></li>
                                    {%endif%}
                                    <li><a class="dropdown-item" href="/serenity/logout/">Log Out</a></li>

                                </ul>
                            </div>
                        </li>
                    </li>
                </ul>
            </div>
            <form id="search-form" class="d-flex flex-wrap justify-content-center" method="post" action="/serenity/search_client/">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="searched" class="sr-only">Search Clients</label>
                    <input class="form-control" type="search" placeholder="Search Clients" name="searched" id="searched" aria-label="Search" style="width: 200px;">
                </div>
                <div class="form-group mb-2">
                    <label for="start_date" class="sr-only">Start Date</label>
                    <input class="form-control" type="date" name="start_date" id="start_date" >
                </div>
                <div class="form-group mb-2">
                    <label for="end_date" class="sr-only">End Date</label>
                    <input class="form-control" type="date" name="end_date" id="end_date" >
                </div>
                <button class="btn btn-outline-success mx-2 my-2 px-3 py-2" type="submit">Search</button>

            </form>
            
            </div>
        </div>
    </nav>
    <div>
        {% load tz %}
        <table id="client-table" class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Client</th>
                    <th scope="col">Signed-In-By</th>
                    <th scope="col">Time-In</th>
                    <th scope="col">Signed-Out-By</th>
                    <th scope="col">Time-Out</th>

                </tr>
            </thead>
            
            <tbody>
                {% for guest in all_guest|dictsortreversed:"created_at" %}
                <tr class="table-success">
                    <th scope="row">{{guest.id}}</th>
                    <td>{{guest.client}}</td>
                    <td>{{guest.provider_name}}</td>
                    <td>{{guest.created_at|timezone:"US/Eastern"}}</td>
                    <td>{{guest.signed_out_by}}</td>
                    <td>{{guest.updated_at|timezone:"US/Eastern"}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%if searched%}
        <table class="table">
            <tbody>
                {% for client in clients%}
                <tr class="table-success">
                    <th scope="row">{{client.id}}</th>
                    <td class="text-center">{{client.client}}</td>
                    <td class="text-center">{{client.provider_name}}</td>
                    <td class="text-center">{{client.created_at|timezone:"US/Eastern"}}</td>
                    <td>{{client.signed_out_by}}</td>
                    <td class="text-center">{{client.updated_at|timezone:"US/Eastern"}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}

    {%endif%}
    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+P8AjU4p8d5t3p2O+5e4vZcFkR5Bb5p/3pG7f5J1zZltxDlB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>